
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Narrow:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: cornflowerblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
}

nav > a:hover {
    background-color: #0369a1;
}

aside {
    background-color: deepskyblue;
}

header > div {
    display: flex;
    justify-content: center;
}

.logo {
    display: inline-block;
}

nav > a  {
    text-decoration: none;
    color: white;
    padding: 30px 80px;
}

.photo {
    width: 100%;
}

aside > h2 {
    margin: 15px;
    font-family: "PT Sans Narrow", sans-serif;
}

aside > p {
    margin: 15px;
}

article > h2 {
    margin: 50px 0px 10px 0px;
}

article > p {
    margin: 20px 0px 0px 0px;
}

main {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

main > article {
    margin: 0px 0px 0px 150px;
    width: 59%;
    text-align: left;
}

main > aside {
    margin: 0px 150px 0px 0px;
    width: 19%;
}

body {
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    background-color: #f3f4f6;
}

@media (max-width: 1000px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    main > article {
        margin: 0px;
        width: 100%;
    }
    main > aside {
        margin: 0px;
        width: 100%;
    }
    nav {
        gap: 0px;
    }
    nav > a {
        white-space: nowrap;
        padding: 30px 50px;
    }
}

@media (max-width: 570px) {
    nav {
        flex-direction: column;
    }
    nav > a {
        width: 100%;
    }
    html {
        scrollbar-width: none
    }
}